body, html{
    background: #EDEDED
}

#quadro-de-login{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}
.container-site{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

img {
    mix-blend-mode: multiply;
}

#fundo-branco-login{
    background: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

#opcao-login-usuario-senha, 
#opcao-cadastro-agenda{ 
    display: flex;
    justify-content: center; 
    align-items: center;
}

.paginas-botoes h1{
    margin-right: 6vw;
}



@media (max-width: 768px){
    #fundo-branco-login{
        background: white;
        width: 93vw;
        height: 85vh;
        border-radius: 8vw;
        box-shadow: 0 1.5vw 2vw 0.3vw rgb(209, 209, 209);
    }

    #container-imagem-mensagem-login{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1vw;
        font-size: 2vw;
    }

    #imagem-login{
        width: 50vw;
        height: 50vw;
    }
}